.app {
  display: grid;
  grid-template-areas:
    '. title .'
    '. game controls';
  grid-template-columns: repeat(3, 1fr);
}
.board {
  border: 2px solid black;
  user-select: none;
  margin: auto;
  grid-area: game;
}

.controls {
  grid-area: controls;
}

.row {
  display: flex;
}

.upcoming {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 10px;
}

.cell {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid black;
}

.cell.hidden {
  visibility: hidden;
}

.cell.Empty {
  background-color: rgb(200, 200, 200);
}

.cell.I {
  background-color: rgb(80, 227, 230); /* Color with transparency */
  /* Sitas erroras visur bus, nes ale nera direktorijos,
  bet kas yra public direktorijoj galima pasiekti tsg per /*/
  background-image: url('/images/pixel_cat.png');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell.J {
  background-color: rgb(36, 95, 223);
  background-image: url('/images/pixel_cat.png');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell.L {
  background-color: rgb(223, 173, 36);
  background-image: url('/images/pixel_cat.png');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell.O {
  background-color: rgb(223, 217, 36);
  background-image: url('/images/pixel_cat.png');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell.S {
  background-color: rgb(48, 211, 56);
  background-image: url('/images/pixel_cat.png');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell.T {
  background-color: rgb(132, 61, 198);
  background-image: url('/images/pixel_cat.png');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell.Z {
  background-color: rgb(227, 78, 78);
  background-image: url('/images/pixel_cat.png');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
